<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Note</title>
    <style>
        body{
            background-color: rgb(213, 211, 211);
        }
        .isi {
            text-align: center;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <form action="" method="POST">
        <h2>Add Note</h2>
        <table>
            {% csrf_token %}
            {{form.as_table}}

        </table>
        <input type="submit" value="Add">
    </form>
</body>

</html>