<!DOCTYPE html>
<html>

<head>
    <style>
        body{
            background-color: rgb(213, 211, 211);
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: transparent;
            padding: 10px;
        }

        .grid-item {
            background-color: #1c1c1c;
            border: 15px solid rgb(213, 211, 211);
            color: white;
            padding: 20px;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="grid-container">
        {% for note in notes %}
        <div class="grid-item">
            <br>Title: {{ note.title }}</br>
            <br>To: {{ note.to }}</br>
            <br>From: {{ note.frm }}</br>
            <br>Message: </br>
            <br>{{ note.message }}</br>
        </div>
        {% endfor %}
    </div>

</body>

</html>