<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>
        body{
            background-color: rgb(213, 211, 211);
        }
        .isi {
            text-align: center;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <table border="1">
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td>{{note.to}}</td>
            <td>{{note.note_from}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>