<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
</head>

<body>
    {% include 'navbar.html' %}
    <form action="" method="POST">
        <table>
            {% csrf_token %}
            {{form | linebreaks}}

        </table>
            <input type="submit" value="Add">
    </form>
</body>

</html>