<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
    <style>
      .isi {
        background-color: aquamarine;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="isi">
      <h1>Hello my name is {{ name }}</h1>
      <article>NPM : {{ npm }}</article>
      <article>I am {{ age }} years old</article>
    </div>
  </body>
</html>
